@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900')
*
{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
} 
html
{
	font-size: 62.5%;
}
.container {
	position: relative;
	width: 100%;
	height: 100vh;
	background: #51bcfa;
	display: flex;
}
img {

	width: 18rem;
	height: 18rem;
	margin-top: 8px;
}
.container .imgIP
{
     position: relative;
     width: 45rem;
     height: 100%;
     background: url(website.jpg);
     background-size: cover;
}
.container .countdownIP {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column; 
	width: calc(100% - 45rem);
	
}
.container .countdownIP h2 {
	text-align: center;
	font-size: 1.5em;
	color: rgb(236, 41, 6);
	text-transform: uppercase;
	letter-spacing: 0.4rem;
	font-weight: 500;
	line-height: 4em;
}
.container .countdownIP h2 span {
	font-size: 6em;
	font-weight: 700;
}
 
.container .countdownIP h2 span i {
	font-style: initial;
	color: rgba(253, 253, 253, 0.897);
}
.container .countdownIP .countdown {
	margin-top: 25px;
	background: rgba(53, 245, 79, 0.6);
	width: 90%;
	height: 12rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container .countdownIP .countdown div {
	position: relative;
	width: 10rem;
	text-align: center;
	color: #fff;
	font-size: 2.5em;
	font-weight: 500;
	margin:0 1.5rem;
	margin-top: -2.5rem;
}
.container .countdownIP .countdown div:before {
	content: 'text';
	position: absolute;
	bottom: -35px;
	left: 0;
	width: 100%;
	height: 3.5rem;
	color: #fff;
	font-size: 0.35em;
	font-weight: 500;
	line-height: 3.5rem;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
}
.container .countdownIP .countdown div#day:before {
	content: 'Days';
}
.container .countdownIP .countdown div#hour:before {
	content: 'Hours';
}
.container .countdownIP .countdown div#minute:before {
	content: 'Minutes';
}
.container .countdownIP .countdown div#second:before {
	content: 'Seconds';
}
.container .countdownIP .countdown div#second,.container .countdownIP .countdown div#second:before {
	color: rgb(255, 94, 0);
}
@media (max-width: 880px)
{
	.container .imgIP{
		display: none;
	}
	.container .countdownIP{
		width: 100%;
	}
	.container .countdownIP h2 {
		font-size: 1em;
}
@media (max-width: 600px)
{
	.container .countdownIP .countdown {
		height: 10rem;
	}
	.container .countdownIP {
		font-size: 1.1em;
	}
	.container .countdownIP .countdown div {
		width: 8rem;
		font-size: 2em;
		margin: 0;
		margin-top: -25px;

	}
}
@media(max-width: 900px)

{
	.container .countdownIP h2 {
		
		font-size: 0.7em;
	}
}





